h1 {
    border: 2px dotted red;
    width: 200px;
    font-size: 3em;
    padding: 0.5em;


}
.container {
    border: 2px solid blue;
    font-size: 1.5rem;
    margin-top:1em;
    margin-right: 1.5rem;

    padding: 1em;

}